.left{
    /* display: inline; */
    float: left;
    padding-top: 15px;
    max-width: 50%;
    margin: 0;
}

.inline {
    display: inline-block;
}

.content_right {
    float: right;
    margin-right: 50px;
}

.link {
    background-color: #F3F3F8;
    padding: 15px;
    border-radius: 5%;
    font-weight: 700;
    padding-right: 40px;
    margin-top: 8px;
}

.header_link, .header_link:visited {
    font-size: 2rem;
    font-weight: 700;
    margin-right: 60px;
    padding-top: 20px;
    text-decoration: none;
    color: black;
}

.header_link:hover {
    color: rgb(35, 97, 255);
}

.active {
    text-decoration: underline;
}

#header {
    padding-top: 70px;
    margin-top: 10px;
}