.question_container {
    /* width: 85%; */
    /* border: 2px solid #C4C4C4; */
    border: 2px solid #29bb16;
    margin: auto 2%;
    padding-bottom: 0;
}

.invisible {
    display: none;
}

.unanswered.question_container {
    border: 2px solid #FF00004A;
}

.question.question_container {
    margin: 10px 0;
}

#question_content {
    text-decoration: underline;
}

.margin_left {
    margin-left: auto;
}

.btn.btn2 {
    background: #FFFFFF;
    color: #1976d2;
    border: 1px solid #1976d2;
}

.btn.btn2:hover {
    background: #1976d2;
    color: #FFFFFF;
    text-decoration: underline;
}

.assignedTa {
    text-align: center;
}