.table {
    width: 85%;
    margin: auto;
}

.heading {
    font-weight: bold;
}

.subscribe {
    color: #2361ff;
}

.unsubscribe {
    color: #fe3535;
}

.subscribe a, .unsubscribe a {
    background-color: #f1f2fe;
    padding: 8px;
    border-radius: 10%;
}

.rows {
    border-bottom: 1px solid #0f0f0f;
}

.noShadow {
    box-shadow: none;
}

.active {
    color: #2361ff;
    border-bottom: 2px solid #2361ff;
}

.btn {
    /* display: inline; */
    margin-right: 8px;
    font-size: 1.0em;
}

.width {
    /* width: 80%; */
    margin: auto;
}

.btn:hover {
    color: #2361ff;
    font-weight: 500;
}

#headers {
    /* width: 80%; */
    margin: 20px auto;
}